<div class="row">
  <div class="small-4 columns">
    <div style="height: 300px; overflow-y: auto;">
      <div class="panel callout radius">
        <h5>Registered Users</h5>

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @matches.each_with_index do |user, index| %>
              <tr>
                <td><%= index +=1 %></td>
                <td><%= user.username %></td>
                <td>
                  <%= link_to "Send Message", "#", class: "button success tiny start-conversation",
                              "data-sid" => current_user.id, "data-rip" => user.id %>
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="small-4 columns">
  </div>
</div>
