/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 */

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

@import 'matches';
@import 'profiles';
@import 'tvshows';
@import 'splashscreen';

#card_padding{
  padding-top: 2rem;
}

#default_font{
  font-family: 'Rajdhani', sans-serif;
}

.pull-left{
  float: left !important;
}

.matchedpics{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

 $media-spacing: 15px;
 $media-heading-bottom-margin: 5px;
 $media-image-alignment-margin: 10px;

 // Clear the floats
 .media,
 .media-body {
     overflow: hidden;
     zoom: 1;
 }

 // Proper spacing between instances of .media
 .media,
 .media .media {
   margin-top: $media-spacing;
 }
 .media:first-child {
   margin-top: 0;
 }

 // For images and videos, set to block
 .media-object {
   display: block;
 }

 // Reset margins on headings for tighter default spacing
 .media-heading {
   margin-bottom: $media-heading-bottom-margin;
 }


 // Media image alignment
 // -------------------------

 .media {
   > .left {
     margin-right: $media-image-alignment-margin;
   }
   > .right {
     margin-left: $media-image-alignment-margin;
   }
 }


 // Media list variation
 // -------------------------

 // Undo default ul/ol styles
 .media-list {
   padding-left: 0;
   list-style: none;
 }



.custom-form {
  padding: 5px 10px;
  text-align: center;
  background-color: #FAFAFA;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
  background: #E8E8E8;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}


.signupheader {
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5rem;
  padding-left: 3.5rem;
}

.propiclabel {
  padding-left: 50rem;
}

.footer {
   background-color: #292c2f;
   box-shadow: 0px 500px 0px 500px #292c2f;
   position: relative;
   width: 100%;
   height: 120px;
   text-align: center;
   font-size: 1.2rem;
   padding-top: 2rem;
   p {
     &.slogan {
       font-family: 'Gloria Hallelujah';
       color: #fff;
       font-size: 1.8rem;
       margin: 0 0 1rem;
     }
     &.copywrite {
       color: #8f9296;
       font-size: 0.875rem;
       margin: 0;
     }
   }
   .links a {
     list-style: none;
     font-weight: bold;
     color: #ffffff;
     padding: 3rem 0 2rem;
     margin: 0;
     &::after {
       content: "•";
       padding: 0 0.4rem 0 0.8rem;
     }
     &:last-child::after {
       content: "";
       padding: 0 0.4rem 0 0.8rem;
     }
   }
 }


 .flashnotices{
   padding-left: 1rem;
 }

.avatar-container {
 position: relative;
 overflow: hidden;
 border-radius: 50%;

 &.small {
   height: 50px;
   width: 50px;
 }

 &.medium {
   height: 100px;
   width: 100px;
 }

 &.large {
   height: 150px;
   width: 150px;
 }
}

.avatar-container > avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

 .button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  &:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 42.5%;
    top: 0.35rem;
  }
  button + button {
    margin-left: 5px;
  }
}

 $background-color: #2C2416;
 $primary-color: #87D37C;

 .menu {
   background-color: $background-color;
   padding: 1rem 7rem;
   height: auto;

   .inline-list {
     text-align: center;

     li {
       float: none;
       display: inline-block;
     }

     a {
       color: #fff;
       padding-bottom: 0.5rem;

       &:hover {
         color: $primary-color;
         transition: all .3s ease-in-out;
       }
     }

     .active a {
       color: $primary-color;
     }
   }

   .account {
     position: absolute;
     top: 3%;
     right: 3%;

     a , i {
       color: #fff;
     }
   }

   @media only screen and (min-width: 40.063em) {
   height: 4rem;

   .inline-list {
     float: left;
     margin: 0 0 0 1.5rem;
     }

     a:hover {
       border-bottom: 2px solid $primary-color;
     }
   }

   .account-action {
     float: right;
     margin: -.75rem 0 0 0;

     li {
       margin-left: .2rem;
     }

     a { padding: 0.75rem 1rem;}

     a.signup {
       font-weight: bold;
       background-color: scale-color($background-color, $lightness: 10%);
       border-radius: 3px;
     }
   }
 }

 .name {
   text-align: center;
   font-size:  1.5rem;
   line-height: 1;
   margin: 0 0 1rem 0;
   color: #fff;

   i {
     color: $primary-color;
     margin-right: 0.5rem;
   }

   @media only screen and (min-width: 40.063em) {
     float: left;
   }
 }
