/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 */

@import 'matches';
@import 'profiles';
@import 'tvshows';
@import 'splashscreen';
@import 'signup_forms';
@import 'topbar';
@import 'chat';
@import 'footer';

#card_padding{
  padding-top: 2rem;
}

#default_font{
  font-family: 'Rajdhani', sans-serif;
}

#flash_notices{
  padding-left: 1rem;
  font-family: 'Rajdhani', sans-serif;
}

.custom-form {
  padding: 5px 10px;
  text-align: center;
  background-color: #FAFAFA;
}

html, body {
	height: 100%;
  background: #E8E8E8;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
