<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area inline-list">
      <li class ="name">
        <h1><img src="/assets/netflixchill.png" style="width:50px;height:35px;"/></h1>
      </li>
      <li class="name">
        <h1><%= link_to "flix // chill", root_path, style: "color: #fff;" %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
    <% if current_user %>
      <ul class="right inline-list hide-for-small-only account-action">
        <li class="navbarbuttons"><a href="/matches" data-reveal-id="myModal">Who's chillin?</a></li>  <li class="navbarbuttons"><a href="/profiles" data-reveal-id="myModal">Profile</a></li>
        <li class="navbarbuttons"><a href="/users/edit" data-reveal-id="myModal">Settings</a></li>
        <li class="navbarbuttons"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
      <a class="account hide-for-medium-up" href="#" data-reveal-id="myModal"><i class="fi-unlock"></i></a>
    <% end %>
  </nav>
</div>
